{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Richard Xu</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'mainPage/assets/css/main.css' %}" />
		<style type="text/css">
		@font-face {
			font-family: 'ManhattanDarling';
			font-style: normal;
			font-weight: normal;
			src: url("{% static 'mainPage/ManhattanDarling/OTF/ManhattanDarling-Regular.otf' %}") format('truetype');
		}
		</style>
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="{% url 'mainPage:index' %}" style="font-family:ManhattanDarling; font-size:150%">Richard Xu</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="{% url 'mainPage:index' %}">Home</a></li>
								<li><a href="{% url 'about:index' %}">About Me</a></li>
								<li><a href="{% url 'photos:index' %}">Photography</a></li>
								<li><a href="{% url 'blog:index' %}">Blog</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Banner -->
					<section id="banner" style="background-image: url({% static 'mainPage/images/background.jpg'%});background-size: 100% 100%;">
						<div class="inner">
							<div class="logo"><span class="icon" ><img src="{% static 'mainPage/images/RX-white.png' %}" style="height:50%; width:50%;text-align: center;margin-top:25%"></span></div>
							<h2 style="font-family: ManhattanDarling, Helvetica, sans-serif;font-size:4em;letter-spacing: 0.2em;">Richard Xu</h2>
							<p> Bioengineer | Software Engineer | Photographer</p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="{% static 'mainPage/images/panels/me.jpg'%}" alt="" /></a>
									<div class="content">
										<h2 class="major">A Little About Me</h2>
										<p>I am a senior at the University of California, Berkeley, majoring in Bioengineering and minoring in EECS. </p>
										<a href="{% url 'about:index' %}" class="special">Look at what I've done!</a>
										<a href="#" class="special">Resume</a>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a class="image"><img src="{% static 'mainPage/images/panels/bioe.jpg'%}" alt="" /></a>
									<div class="content">
										<h2 class="major">Bioengineering</h2>
										<p>I am in the computational Biology concentration of bioengineering, and am specifically interested in protein interaction modeling. Previously I have worked in the Teresa Head-Gordon Lab applying the Poisson-Boltzmann Semi-Analytical Method onto polymer models. </p>
										<!-- <a href="#" class="special">Learn more</a> -->
									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="#" class="image"><img src="{% static 'mainPage/images/panels/cs.jpg'%}" alt="" /></a>
									<div class="content">
										<h2 class="major">Software Engineering</h2>
										<p>Software is an amazing tool that allows us to solve bigger and harder problems. It lets us find the shortest path to our next class, sort our busy schedules and stream the next big meme. But I think software engineering can be used for even bigger and better things, like modeling protein folding or connecting the world or even getting us to Mars. And I want to be a part of this process.</p>
										<a href="https://github.com/xurichard" class="special">Github</a>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="wrapper alt spotlight style4">
								<div class="inner">
									<a href="https://www.flickr.com/photos/richardxu/" class="image"><img src="{% static 'mainPage/images/panels/photography.jpg'%}" alt="" /></a>
									<div class="content">
										<h2 class="major">Photography</h2>
										<p>One of my biggest hobbies is photography (and all the photos on this website were taken by me). I think that a photo not only lets us capture the moment, but </p>
										<a href="https://www.flickr.com/photos/richardxu/" class="special">Flickr</a>
									</div>
								</div>
							</section>

						<!-- Four -->
							<!-- <section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Vitae phasellus</h2>
									<p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
									<section class="features">
										<article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3 class="major">Sed feugiat lorem</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Nisl placerat</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
											<h3 class="major">Ante fermentum</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
											<h3 class="major">Fusce consequat</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
									</section>
									<ul class="actions">
										<li><a href="#" class="button">Browse All</a></li>
									</ul>
								</div>
							</section> -->

					</section>

				<!-- Footer -->
					<section id="footer" style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url({% static 'mainPage/images/bg4.jpg'%}); background-size: 100%;">
						<div class="inner">
							<h2 class="major">Contact Me</h2>
							<p>Don't be shy, give it to me.</p>
							<form method="post" action="">
								{% csrf_token %}
								{{ form.as_p }}
								<!-- <div class="field">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field">
									<label for="email">Email</label>
									<input type="email" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="4"></textarea>
								</div> -->
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
							<ul class="contact">
								<li class="fa-home">
									My Apartment<br />
									Apt.303 <br />
									2703 Ridge Rd.<br />
									Berkeley, CA 94709
								</li>
								<li class="fa-phone">(425) 623-6872</li>
								<li class="fa-envelope"><a href="#">richardxu@berkeley.edu</a></li>
								<li class="fa-instagram"><a href="https://www.instagram.com/richardxuxu/">richardxuxu</a></li>
								<li class="fa-linkedin"><a href="https://www.linkedin.com/in/richardxu1">richardxu1</a></li>
								<li class="fa-github"><a href="https://github.com/xurichard">xurichard</a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Untitled Inc. All rights reserved.</li><li>Richard Xu</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="{% static 'mainPage/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'mainPage/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'mainPage/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'mainPage/assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static 'mainPage/assets/js/main.js' %}"></script>

	</body>
</html>